@{
    ViewData["Title"] = "Financials Data";
}

@model IEnumerable<BullFins.Models.EF_Models.Financials>

<h2>Chart Data</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Report Date
            </th>
            <th>
                Gross Profit
            </th>
            <th>
                Total Revenue
            </th>
            <th>
                Total Assets
            </th>
            <th>
                Total Liabilities
            </th>
            <th>
                Total Cash
            </th>
            <th>
                Total Debt
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reportdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grossprofit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalrevenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalassets)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalliabilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalcash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totaldebt)
            </td>
        </tr>
        }
    </tbody>
</table>
