@{
    ViewData["Title"] = "Stock Stats";
}

@model IEnumerable<BullFins.Models.EF_Models.StockStats>

<h2>Stock Stats</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Dividend Rate
            </th>
            <th>
                Revenue
            </th>
            <th>
                Gross Profit
            </th>
            <th>
                Cash
            </th>
            <th>
                Debt
            </th>
            <th>
                Revenue Per Share
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dividendRate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.revenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grossProfit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.debt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.revenuePerShare)
            </td>
        </tr>
        }
    </tbody>
</table>
